$COLOR_WHITE: #ffffff;
$COLOR_BLACK: #000000;
$COLOR_LIGHT_BLACK: #343434;
$COLOR_GREY: #808080;
$COLOR_LIGHT_GREY: #bbbbbb;
$COLOR_GREEN: #5ec73a;
$COLOR_DARK_GREEN: #bed02e;
$COLOR_LIGHT_GREEN: #f5f8e0;
$COLOR_RED: #dd3300;
$COLOR_DARK_RED: #dc0000;
$COLOR_LIGHT_RED: #f5b3b3;
$COLOR_BLUE: #29abe2;
$COLOR_LIGHT_BLUE: #e4f8ff;
$COLOR_3: #333333;
$COLOR_9: #999999;
$COLOR_C: #cccccc;
$COLOR_B3: #b3b3b3;
$COLOR_E6: #e6e6e6;
$COLOR_4D: #4d4d4d;
$COLOR_6: #666666;
$COLOR_6F: #6f6f6f;
$COLOR_7: #777777;
$COLOR_D: #dddddd;
$COLOR_E: #eeeeee;
$COLOR_E6: #e6e6e6;
